# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Text editor backup files
*~

# Working directories
results/
scratch/
build/

# Data
data/*.jpg
data/*.csv
data/*.tsv
data/filteredData/*.tsv

# Internal stuff
doc/internal